*.pyc
logs/
Deimos-Testconfig.ini
flash_trash_run.py
.idea/.name
src/.idea/vcs.xml
src/parse_items_in_inventory.py
.idea/Deimos-Wizard101-development.iml
.idea/discord.xml
.idea/misc.xml
parse_items_in_inventory.py
.idea/discord.xml
Deimos.exe
.idea/discord.xml
